@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap");
body {
  color: white;
  font-family: "Zen Maru Gothic", sans-serif;
  height: 100%;
}

.neumorphism {
  border-radius: 3px;
  background: #ffffff;
  box-shadow: inset 14px 14px 43px #cfcfcf, inset -14px -14px 43px #ffffff;
}
